
<footer class="page-footer font-small unique-color-dark ls-footer" th:fragment="footer">
    <div class="container text-center text-md-left py-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">HOBBIT</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
                <div class="col-12 ls-sub">
                    <p><a href="#">Research</a></p>
                    <p><a href="#">Sport</a></p>
                    <p><a href="#">Listen to Music</a></p>
                </div>
                <br>
            </div>
            <!-- Grid column -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Category</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 83px;">
                <p><a href="index.html">Home</a></p>
                <p><a href="Detail.html">Detail</a></p>
                <p><a href="aboutme.html">About me</a></p>
            </div>
            <!-- Contact -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 72px;">
                <p><i class="fas fa-home mr-3"></i>Phnom Penh, Cambodia</p>
                <p><i class="fas fa-envelope mr-3"></i>asnavy619@gmail.com</a></p>
                <p><i class="fas fa-phone mr-3"></i>0966845005</p>
            </div>
            <!-- End Contact -->
        </div>
        <!-- Social buttons at footer-->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1 waves-effect waves-light"
                   href="https://web.facebook.com/asnavy.husein" target="_blank">
                    <i class="fab fa-facebook-f"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1 waves-effect waves-light" href="https://twitter.com/AsnavyH" target="_blank">
                    <i class="fab fa-twitter"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1 waves-effect waves-light"
                   href="https://www.linkedin.com" target="_blank">
                    <i class="fab fa-linkedin-in"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-insta mx-1 waves-effect waves-light"
                   href="https://www.instagram.com/sinawa_hensu/" target="_blank">
                    <i class="fab fa-instagram"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-git mx-1 waves-effect waves-light"
                   href="https://github.com"
                   target="_blank">
                    <i class="fab fa-github"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons at footer -->
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright</div>
</footer>
