<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

    <div class="col-md-6 offset-md-3">
        <br>
        <center><h1 style="font-weight: lighter">Insert Form</h1></center>
        <br>
        <!--enctype="multipart/form-data-->
        <form action="/postarticle" method="post" th:object="${article}" enctype="multipart/form-data">
            <fieldset>
                <legend></legend>
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" th:field="${article.id}">
                    <br>
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name">
                    <br>
                    <label for="author">Author</label>
                    <input type="text" class="form-control" name="author">
                    <br>
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description">
                    <br>
                    <label for="image">Image</label>
                    <!--<input type="text"  class="form-control" name="image">-->
                    <input type="file" name="image">

                    <br>
                    <input type="submit" class="btn btn-primary" value="Add Data">
                    <a href="/viewAll">
                        <input type="button" class="btn btn-primary" value=" Cancel ">
                    </a>
                </div>
            </fieldset>
        </form>
    </div>

</body>
</html>